body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: "Virgil";
    src: local("Virgil"),
         url("./fonts/Virgil.woff2") format("woff2");
    font-weight: normal;
}
